output
mcp_server/
src/__pycache__
relevance_tests
config.json
input_lists
*.pyc
secrets.json
token_dirs/*
parse_jsons.py
parse_jsons_dch.py
nohup.out
skimgpt_visualizer.py
run_*
.DS_Store
config_copy.json

